# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
env/
.env

# Data and Models (Very large files)
04_data/
*.zip
*.pth
*.pth.tar

# Results and Logs
05_results/logs/
05_results/figures/

# OS files
.DS_Store
Thumbs.db
